@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

BODY {
	font-family: 'Kalam', cursive;
}

DIV {
border: 1px solid #000000
}

#Header {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url(images/banner.png) no-repeat;
}

#MainContent {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#Footer {
	width: 802px;
	margin-right: auto;
	margin-left: auto;
	height: 50px
}

#Footer-left {
	float:left;
	width:49.5%;
	height:50px;
	border: 1px solid green;
}

#Footer-right {
	float:right;
	width:49.5%;
	height:50px;
	border: 1px solid red;
}
#index-h1 {
	color: red;
}

@media only screen and (max-width: 998px) {
	#Footer, #MainContent, #Header {
		width: 100%;
	}
}